.SingleProject {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 40% 0.5fr;
  grid-template-rows: repeat(2, auto);
  place-self: stretch;
  text-align: start;
  margin-bottom: 1.5em;
  padding: 5px 10px;
  box-shadow: 0px 0px 10px 3px rgba(63, 81, 181, 0.849);

  &.shadow-danger {
    box-shadow: 0px 0px 10px 3px rgba(238, 110, 115, 0.75);
  }

  &.shadow-warning {
    box-shadow: 0px 0px 10px 3px rgba(216, 204, 68, 0.877);
  }

  &.shadow-completed {
    box-shadow: 0px 0px 10px 3px rgb(102, 187, 106);
  }

  &.shadow-deleted {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
  }

  &--tag {
    font-weight: 600;
    // border-bottom: 1px solid;
    border-bottom: 0.2em solid rgba(85, 85, 85, 0.5);
  }

  &--value {
    border-right: 0.1em solid rgba(85, 85, 85, 0.5);
  }

  &--title-tag {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  &--title-value {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  &--order-tag {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  &--order-value {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  &--expir-tag {
    grid-column: 3 / 4;
    grid-row: 1;
  }
  &--expir-value {
    grid-column: 3 / 4;
    grid-row: 2;
  }

  &--comment-tag {
    grid-column: 4 / 5;
    grid-row: 1;
  }
  &--comment-value {
    grid-column: 4 / 5;
    grid-row: 2;
  }

  &--btns {
    grid-column: 5;
    grid-row: 1 / span 2;
    text-align: center;
    padding-left: 1em;
  }
}

.ActionBtn {
  border: none;
  width: 7em;
  height: auto;
  padding: 0.3em;
  transition: 0.2s;
  border-radius: 2px;
  font-weight: 600;

  &.DeleteBtn {
    background: rgba(238, 110, 115, 0.75);
  }
  &.StartBtn {
    background: rgba(63, 81, 181, 0.75);
  }
  &.CompleteBtn {
    background: rgba(102, 187, 106, 0.75);
  }

  &.RemoveBtn {
    background: rgba(0, 0, 0, 0.5);
  }

  &:hover {
    opacity: 0.8;
  }
}

.Inactive {
  display: none;
}
